@model IEnumerable<GymClassIndexViewModel>
@inject UserManager<ApplicationUser> _userManager

<div class="container">
        <form asp-action="Index">
            <div class="form-group">
                <label for="historic" class="checkbox inline">Show past classes</label><input name="historic" class="form-control" type="checkbox" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Filter" />
            </div>
        </form>
</div>

@foreach (var gymClass in Model)
{
    <tr>
        <td>
            <p>
                @Html.DisplayFor(modelItem => gymClass.Name)
                <a data-toggle="collapse" href="#memberlist-@gymClass.Id" role="button" aria-expanded="false">
                    <i class="fa fa-plus"></i>
                </a>
            </p>
            <div class="collapse" id="memberlist-@gymClass.Id">
                @foreach (var member in gymClass.AttendingMembers.Select(m => m.ApplicationUser))
                {
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="card-title">@member.FullName</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-info"></i></a>
                        </div>
                    </div>
                }
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => gymClass.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => gymClass.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => gymClass.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => gymClass.Description)
        </td>
        <td>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@gymClass.Id">Edit</a> <span> | </span>
                    <a asp-action="Delete" asp-route-id="@gymClass.Id">Delete</a><span> | </span>
                }
                var userId = _userManager.GetUserId(User);
                ILookup<int, string> lookup = gymClass.AttendingMembers.ToLookup(m => m.GymClassId, m => m.ApplicationUserId);
                if (lookup[gymClass.Id].Contains(userId))
                {
                    <a asp-action="BookingToggle" asp-route-id="@gymClass.Id">Unbook</a><span> | </span>
                }
                else
                {
                    <a asp-action="BookingToggle" asp-route-id="@gymClass.Id">Book</a><span> | </span>
                }
            }
            <a asp-action="Details" asp-route-id="@gymClass.Id">Details</a>
        </td>
    </tr>
}