@model IEnumerable<GymClassViewModel>

<table class="table table-borderless">
<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
    </tr>
</thead>
<tbody>

    @foreach (var gymClass in Model)
    {
        <tr>
            <td>
                @gymClass.Name
            </td>
            <td>
                @gymClass.Description
            </td>
            <td>
                @gymClass.StartTime
            </td>
            <td>
                @gymClass.Duration
            </td>
        </tr>
    }

</tbody>
    </table>
